### Add scripts to the notebooks path

In [1]:
import os, sys

current_dir = os.getcwd()
print(current_dir)

# Get the parent directory
parent_dir = os.path.dirname(current_dir)

scripts_path = os.path.join(parent_dir, 'scripts')

# Insert the path to the parent directory
sys.path.insert(0, parent_dir)

# Insert the path to the Scripts directory
sys.path.insert(0, scripts_path)

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join('..')))

d:\KifiyaAIM-Course\Week - 10\Brent-Oil-Market-Dynamics\notebooks

### Import Statements

In [2]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
sns.set_theme()

### Load Data

In [4]:
PATH = '../data/merged_data.csv'
merged_data = pd.read_csv(PATH)

### Feature Engineering Step

In [5]:
from scripts.feature_engineering import FeatureEngineering

1) Generate new features

In [6]:
data = FeatureEngineering.add_features(data=merged_data)
data

,GDP,Exchange Rate,index,Price,Pct_Change,7D_MA,30D_MA,7D_Volatility,30D_Volatility,7D_Change,30D_Change
Date,,,,,,,,,,,
1987-01-01,1.748508e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-01-02,1.749073e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-01-03,1.749638e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-01-04,1.750203e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-01-05,1.750768e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-08,1.012251e+14,0.949624,9006.0,96.85,-0.030239,96.575714,93.685333,2.394910,2.984813,2.21,10.88
2022-11-09,1.012251e+14,0.949624,9007.0,93.05,-0.039236,96.540000,93.802000,2.453059,2.884312,-0.25,3.50
2022-11-10,1.012251e+14,0.949624,9008.0,94.25,0.012896,96.415714,93.963333,2.556840,2.762986,-0.87,4.84
2022-11-11,1.012251e+14,0.949624,9009.0,96.37,0.022493,96.458571,94.212333,2.552590,2.624049,0.30,7.47
2022-11-14,1.012251e+14,0.949624,9010.0,93.59,-0.028847,96.215714,94.309333,2.755134,2.541456,-1.70,2.91

2) Handle missing values

In [12]:
data = FeatureEngineering.handle_missing_values(data=data)

data.isna().sum()

GDP               0
Exchange Rate     0
index             0
Price             0
Pct_Change        0
7D_MA             0
30D_MA            0
7D_Volatility     0
30D_Volatility    0
7D_Change         0
30D_Change        0
dtype: int64